div(class="uberuns")
    div(class="container")
        div(class="row")
            div(class=" col-xs-8 col-xs-offset-2")
                h2 Schweden Industrievermietung
                p Mit rund 60.000 qm hoch flexibel gestaltbarer Fläche bietet Gerhard Schweden als größter privater Gewerberaumanbieter in Konstanz den unterschiedlichsten Visionen vom eigenen Unternehmen den passenden Raum. Und das im ganz besonderen Ambiente der Bodenseeregion. Vom Existenzgründer bis zum Konzern, vom Jungunternehmer bis zum Produktionsbetrieb, seit mehr als 30 Jahren vertrauen unsere Mieter aus allen Brachen und Bereichen mit Erfolg auf die Angebotskonzepte und das Know-how im Flächenmanagement.
