div(class="header")
    div(class="container")
        div(class="row")
            div(class="col-xs-8 col-xs-offset-2")
                h1 Gewerbeparks im Bodenseeland
                hr
                h2 Flexible Flächen- und Vertragsgestaltung zur  stetigen Anpassung an die wirtschaftliche und  unternehmerische Entwicklung der Mieter
                button Kontakt