div(class="footer")
    div(class="container")
        div(class="row")
            div(class="col-xs-12")
                h2 Kontakt
        div(class="row")
            div(class="col-xs-4")
                ul
                    li Am Seerhein 6
                    li D-78467 Konstanz
                    li Telefon: 0049 (0) 7531 8151-0
                    li Telefax: 0049 (0) 7531 8151-91
            div(class="col-xs-4")
                ul
                    li E-Mail: info@schweden-vermietungen.de
                    li www.schweden-vermietungen.de
            div(class="col-xs-4")
                a(href="#") Impressum
                a(href="#") Datenschutz