doctype html
html
    head
        include head

        body
           include navigation
           include banner
           include aboutus
           include leistungen
           include footer