div(class="leistungen")
    div(class="container")
        div(class="row")
            div(class="col-xs-4")

                img(src="./img/icon1.jpg" class="center-block")
                p(class="text-center") Vermietung von B체ro-, Lager- und  Produktionsfl채chen
            div(class="col-xs-4")
                img(src="./img/icon2.jpg" class="center-block")
                p(class="text-center") Flexible Fl채chen- und Vertragsgestaltung
            div(class="col-xs-4")
                img(src="./img/icon3.jpg" class="center-block")
                p(class="text-center") Zusammenf체hrung von Synergieeffekten